[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks/
[submodule "mods/markdown2formspec"]
	path = mods/markdown2formspec
	url = https://github.com/ExeVirus/markdown2formspec.git